body {
    font-family: Arial, sans-serif;
    background: #E6E6FA;
	display: flex;
	margin: 10px;
}

.container {
    max-width: auto;
    margin: 40px;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	background-image: url('cow.png');
	
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}


input[type="text"] {
    width: calc(100% - 70px); /* Adjusted to account for the new button size */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #f0f0f0;
}

button {
    width: 35px; /* Adjust based on your image size */
    height: 35px; /* Adjust based on your image size */
	margin: 10px;
    background-image: url('cow-head.png');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
	
}

button:hover {
    transform: scale(1.05);
	background-color: grey;

	
}

ul {
    list-style-type: none;
	background: #E6E6FA;
	padding: 15px;

}

/* ... existing styles ... */

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.remove-button {
    position: relative;
    left: 10rem;
    background-color: #ff3333;
    color: white;
    border: none;
    cursor: pointer;


}

.remove-button:hover {
    background-color: #cc2222;
}


li::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%23FFD700" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12z"/%3E%3C/path%3E%3C/svg%3E');
    background-size: contain;
    background-repeat: no-repeat;
}

li:last-child {
    border-bottom: none;
}

.cow-container {
    bottom: 20px;
    right: 20px;
}

.cow-image {
    width: 150px;
    height: 150px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
